@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-inter: "Inter", sans-serif;
}

*{
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}



*{
    font-family: "Inter", sans-serif;
      font-weight: 400;
}

@theme {
  --color-gray: #8C8C8C
}

.h4{
  font-size: large;
  font:300
}


/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}