@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-inter: "Inter", sans-serif;
}


body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

@theme {
  --color-gray: #8C8C8C
}

.h4{
  font-size: large;
  font:300
}


/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

button{
  cursor: pointer;
}

/* Always show scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: normal;
  scrollbar-color: #9b9a9a transparent;
}