@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-inter: "Inter", sans-serif;
}

*{
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-gray: #8C8C8C
}
